<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit alert</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/api/{id}/edit(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <label for="ticker">Enter ticker: </label>
    <input type="text" th:field="*{ticker}" id="ticker"/>
    <div style="color:red" th:if="${#fields.hasErrors('ticker')}" th:errors="*{ticker}">ticker Error</div>
    <br/>
    <label for="alertPrice">Enter alertPrice: </label>
    <input type="text" th:field="*{alertPrice}" id="alertPrice"/>
    <div style="color:red" th:if="${#fields.hasErrors('alertPrice')}" th:errors="*{alertPrice}">alertPrice Error</div>
    <br/>
<!--    <label for="condition">Enter condition: </label>-->
<!--    <input type="text" th:field="*{condition}" id="condition"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('condition')}" th:errors="*{condition}">alertPrice Error</div>-->

    <label for="condition">Enter condition: </label>
    <select th:field="*{condition}" id="condition">
        <option value="Above">Above</option>
        <option value="Below">Below</option>
    </select>

    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>